@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

body::-webkit-scrollbar{
    display: none;
  }


.shadow-1
{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card
{
    border: none !important;
}

.bg-black
{
    background-color: black !important;
}

.form-select:focus
{
    border-color: #ced4da;
    box-shadow: none;
}

.bg-purple
{
    background-color: #3D1A6F !important;
}

.text-purple
{
    color: #3D1A6F !important;
}

.btn-purple
{
    background-color: #3D1A6F !important;
    border-color: #3D1A6F !important;
    color: white !important;
}

.btn-purple:focus
{
    box-shadow: #3D1A6F !important;
}

.table-purple
{
    background-color: #3D1A6F !important;
}

.header-center
{
    
    height: 95vh !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.btn-apply
{
    background-color: #fff;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 25vh;
    position: relative;
    top: 20px;
}

.btn-apply:hover
{
    background-color: #FFCB08;
    color: black;
    transition: 0.3s;
}


@media only screen and (max-width: 600px) {
    .header-center
    {
        height: 110vh !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .login-box
    {
        margin-top: 50%;
        border-radius: 16px;
    }
}

footer
{
    background-color: #1A1A1A !important;
    color: white !important;
    padding: 30px;

}


.login-box
{
    margin-top: 10%;
    border-radius: 16px;
}


